body {
  background-color: #081c29;
  color: white;
  animation: translate 4s linear;
  /* animation-delay: 1s; */
}
::selection {
}
.navbar {
  /* background-color: black; */
  display: flex;
  background-color: #081c29;
  z-index: -2;
  position: sticky;
  gap: 3vw;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: fit-content;
  /* margin: 0 0 0 8px; */
  padding: 0 2vw;
  top: 0vw;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  z-index: 100;
}
.items {
  display: inline-flex;
  justify-content: space-around;
  gap: 3vw;
  font-size: 25px;
  align-items: center;
  padding: 20px 10%;
}

.items p {
  cursor: pointer;
  border-radius: 20px;
  /* width: 40px; */
  /* height: 40px; */
  animation: slidebottom calc(1s * var(--i)) ease;
  margin-left: 10px;
  padding: 10px;
  transition: all 0.5s;
}

.logo {
  font-size: 2rem;
}
.section1 {
  /* margin-top: 10vw; */
  padding: 5vw 5vw;
  display: flex;
  position: relative;
  /* gap: 50%; */
  justify-content: space-around;
  align-content: center;
}
.section1 .left {
  display: flex;
  /* font-size: 2.5rem; */
  /* font-weight: bold; */
  /* margin: 0; */
  flex-direction: column;
  align-items: start;
  width: 50%;
  justify-content: center;
  /* justify-content: space-between; */
  animation: slideleft 1s ease;
}
.section1 .left h2,
.section1 .left h4 {
  margin: 0;
}
.section1 .left .bold {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  /* margin: -10px; */
}
.left h4 {
  font-size: 1.5rem;

  /* margin: 0 10px; */
  font-weight: bold;
}
.inline {
  display: flex;

  justify-content: center;
  align-items: center;
}
blue {
  color: #4ee3ed;
  font-size: 2.5rem;
  /* margin: 0; */

  font-weight: bold;
  font-weight: bold;
}
.section1 .left p {
  white-space: 1px;
  font-size: 0.9rem;
  width: 80%;

  /* line-height: 10px; */
}
.socials {
  display: flex;
  width: fit-content;
  gap: 1vw;
  padding: 1vw 0;
  justify-content: space-between;
  align-content: center;
}
.social {
  border: 2px solid #4ee3ed;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  /* text-align: center; */
  display: inline-flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #4ee3ed;
  text-decoration: none;
}
.social i {
  /* color: #4ee3ed; */
  /* transform: translate(50%, 50%); */
  /* text-align: center; */
  /* width: 1vw; */
  /* height: 1vh; */
}
.social:hover {
  background-color: #4ee3ed;
  color: black;
}
.btn {
  margin-top: 10px;
  width: fit-content;
  height: 5vh;
  text-align: center;
  padding: 0.4vw 1vw;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 2vw;
  border: none;
  box-shadow: 1px 1px 1px 1px #4ee3ed;
  background-color: #4ee3ed;
  transition: all 1s;
}
.btn:hover,
.items p:hover {
  box-shadow:
    0px 0px 5px #4ee3ed,
    0px 0px 25px #4ee3ed,
    0px 0px 50px #4ee3ed,
    0px 0px 100px #4ee3ed;

  transform: scale(1.13);
  padding: 0.4vw 1vw;
  /* color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* border-radius: 2vw; */
  /* box-shadow: 1px 1px 1px 1px #4ee3ed; */
  background-color: #4ee3ed;
}
/* .btn p {
  transform: scale(1, -1.03);
} */
.image {
  border-radius: 50% 50%;
  width: 11vw;

  padding: 11vw;
  /* margin: 10px; */
  /* position: absolute; */
  object-fit: cover;
  height: 12vh;
  background: url("./jesusmichael.jpeg");
  background-size: cover;
  background-position: 200%;
  /* box-shadow:
  10px 10px #8d3b84,
  10px 10px #4ee3ed; */
  position: relative;
  /* animation: slideright 0.1s ease; */
}
.image::before,
.image::after {
  content: "";
  z-index: -2;
  background-image: conic-gradient(
    from var(--angle),
    #081c29,
    transparent,
    #4ee3ed,
    #8d3b84
  );
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  padding: 15px;
  top: -10px;
  left: -10px;
  border-radius: 50% 50%;
  animation: animation 3s linear infinite alternate-reverse;
  animation-delay: 1s;
}
@keyframes animation {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
@keyframes slideleft {
  from {
    transform: translatex(-1000px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);

    opacity: 1;
  }
}
@keyframes slideright {
  from {
    transform: translatex(10px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);

    opacity: 1;
  }
}
@keyframes slidetop {
  from {
    transform: translatey(-1000px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);

    opacity: 1;
  }
}
@keyframes slidebottom {
  from {
    transform: translatey(10px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);

    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
    transform: translatey(10000px);
  }
  to {
    opacity: 1;
    transform: translatey(0px);
  }
}
@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
.image img {
  border-radius: 50% 50%;
  width: 20vw;
  height: 20vw;
  /* width: 10vw; */
  height: fit-content;
}
.section2 {
  display: flex;
  padding: 10vw;
  justify-content: space-between;
  align-content: center;
}
.AboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
  gap: 0;
}
.AboutMe h1 {
  font-size: 3rem;
  margin: 0;
}
.AboutMe p {
  line-height: 1rem;
}
.section3 {
  /* width: 100%; */
  /* margin: auto; */
  /* height: 100%; */
  /* padding: 10vw; */
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}
h1 {
  /* color: #4ee3ed; */
  font-size: 2.5rem;
  /* margin: 0; */

  font-weight: bold;
  font-weight: bold;
  /* margin: 10vw; */
}
.parent-list {
  display: flex;
  animation: slidebottom 1s ease;

  padding: 2vw 10vw 10vw 10vw;
  justify-content: space-around;
  /* gap: 3vw; */
  align-items: center;
}
.card {
  display: flex;
  width: fit-content;
  text-align: start;
  height: fit-content;
  padding: 40px;
  border-right: 10px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: start;
  box-shadow:
    1px 1px 20px #072b55,
    -1px 1px 30px #072b55;
  align-items: start;
  border-radius: 2vw 2vw;
  animation: slidebottom 2s ease;
  transition: transform 1s;
}
.card:hover {
  /* transform: scale(1.099); */
  transform: translatey(-10px);
}
.card i {
  font-size: 50px;
  /* font-weight: 500; */
  /* width: 3vw; */
  /* height: 3vw; */
  margin-bottom: 15px;
  animation: slideleft 1s ease;
}
.inline {
  animation: slideright 3s ease;
}
.inline h4 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  animation: slideleft 1s ease;
  /* animation-delay: 1s; */
}

#text {
  color: #4ee3ed;
  /* font-size: 3rem; */
  /* width: 200px; */
  text-wrap: nowrap;
  animation: slideright 4s ease infinite;
  font-weight: bold;
}
.card h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  animation: slideleft 1s ease;
}
.card p {
  animation: slideleft 1s ease;
}
p {
  animation: slideleft 1s ease;
}
*:not(.image) {
  animation: slidebottom 1s ease;
}
.section4 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: space-between;
}
.section4 h1,
.latest h1 {
  display: block;
  width: 100%;
  text-align: center;
}
.both {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* width: 60%; */
  margin: auto;
  gap: 20vw;
}
.left {
  display: flex;
  width: 20vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50vw; */
}
.left h3,
.right h3 {
  border-bottom: 5px solid white;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.skilln {
  display: flex;
  width: 100%;
  margin: 10px 0;
  height: 1vw;
  justify-content: space-between;
  align-content: center;
}
.precentage {
  background-color: #4ee3ed;
  width: 14vw;
  height: 0.5vh;
}
.right {
  /* display: block; */
}
.precens {
  display: grid;
  /* padding: 4vw; */
  flex-wrap: wrap;
  gap: 50px;
  padding: 3vw 0;
  grid-template-columns: repeat(2, 1fr);
}
.precen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.el {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
  border: 5px solid #4ee3ed;
  border-radius: 50% 50%;
}
.latest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.parent-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card1 {
  width: 20vw;
  height: 20vw;
  object-fit: contain;
  background: url("./calc.png");
  background-position: 200%;
  background-size: cover;
  /* height: 10vh; */
  transition: background 3s;
  position: relative;
}

.card2 {
  width: 20vw;
  height: 20vw;
  object-fit: contain;
  background: url("./image.png");
  background-position: 200%;
  background-size: cover;
  position: relative;
}
.layer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #4ee3ed, transparent);
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  overflow: hidden;
  transition: all 1s;
  padding: 0 40px;
}
.card1:hover .layer {
  height: 100%;
}
.card2:hover .layer {
  height: 100%;
}
.layer h5 {
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 15px;
}
.layer p {
  color: white;
  font-weight: bold;
  line-height: 1.8;
}
.Contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* flex-direction: row; */
  justify-content: center;
  align-content: center;
  padding: 10vw;
  gap: 20px;
  align-content: space-between;
}
.contactleft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30vw;
  /* align-self: flex-end; */
  justify-self: flex-start;
  /* gap: 10vw; */

  align-content: space-around;
}
.contactleft h3 {
  /* margin: auto; */
  margin: 0 auto;
  font-weight: bold;
  font-size: 2.5rem;
}

.contactinside {
  display: flex;
  /* text-align: start; */
  /* gap: 2vw; */
  flex-direction: column;
  justify-content: space-between;
  /* width: 50%; */
  align-content: space-between;
  /* padding: 1.5vw; */
}
.socialme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.contactright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-self: flex-start;
  justify-self: flex-start;
  /* gap: 10px; */
  width: 35vw;
}

form input,
form textarea {
  outline: none;
  width: 90%;
  /* font-size: 2rem; */
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0.5vw;
}
input {
  background-color: #555557;
  /* width: 30vw; */
  height: 2.5vw;
  border-radius: 0.5vw;
  border: none;
}
textarea {
  background-color: #555557;
  /* width: 30vw; */
  /* height: 10vw; */
  /* border-radius: 0.5vw; */

  height: 10vw;
}
.contactright .btn {
  display: block;
  width: 95%;
  height: 3vw;
  /* width: 100vw; */
}
input:focus,
textarea:focus {
  box-shadow:
    0px 0px 25px #4ee3ed,
    0px 0px 50px #4ee3ed,
    0px 0px 100px #4ee3ed,
    0px 0px 200px #4ee3ed;
  border-radius: 25px;
  background-color: #e8f0fe;
}
.thanks {
  width: 100%;
  padding: 2vw;
  height: 1vw;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  background: conic-gradient(from var(--angle), #8d3b84, transparent, #4ee3ed);
  animation: gradiant 3s infinite alternate-reverse linear;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
@keyframes gradiant {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
