:root {
  --primary-color: #fbf6ef;
  --secodary-color: #0d1225;
  --accent-color: #c9a977;
  --Neutral-color: #ffffff;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SaintCarell";
  src:
    url("SaintCarellClean_PERSONAL_USE_ONLY.otf") format("opentype"),
    url("SaintCarell_PERSONAL_USE_ONLY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Metropolis", sans-serif;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}
body {
  height: 100vh;
  /* background:#ffffff; */
  display: flex;
  /* grid-tvwplate-rows: 1fr 1fr; */
  flex-direction: column;
  /* justify-content: c; */
  justify-items: center;
  overflow-x: hidden;
  align-items: center;
  align-content: center;
  text-align: center;
  /* grid-tvwplate-areas: "header nav" */
  /* "main main"; */
  /* grid-tvwplate-rows: auto 1fr; */
  /* transition: all 1s; */
  /* transition: all 1s; */
  color: #fffff6;
  margin: 0;
  /* letter-spacing: 1px; */
  /* background: */
  /* ease-gradient(90deg, rgba(0,255,255,0.2) 1px, transparent 1px), */
  /* ease-gradient(rgba(0,255,255,0.2) 1px, transparent 1px);  */
  /* font-family: "Poppins",sans-serif; */
  font-weight: 100;
  /* letter-spacing: .09vw; */
  background-image: ease-gradient(
    to top,
    var(--secodary-color),
    var(--accent-color),
    var(--Neutral-color)
  );
  
  background-attachment: fixed;
  word-spacing: 1px;
  /* animation: body 2s ease alternate ; */
}

.sections {
  /* height: fit-content; */
  /* line-height: 2.77777vw; */
  /* width: 100vw; */
  display: flex;
  width: 100%;
  /* padding: 10vw 10vw; */
  /* margin-top: 20vw; */
  /* grid-area: main; */
  flex-direction: column;
  /* justify-content: center; */
  justify-items: center;
  align-content: center;
  align-items: center;
  /* word-wrap: break-word; */
  /* gap: 3vw; */
  /* border:.0009vw solid #D4F9FE; */
  /* position: absolute; */
  /* border-radius:.3vw; */
  border-radius: 2vw;
  /* position: absolute; */
  /* top: 30%; */
  margin: 0;
  text-align: center;
  position: relative;
  /* top: 10vh; */
  /* left: 0; */
  transform: translate(0%, 0%);

  /* z-index: -1; */
  /* opacity: .3; */
  /* transition: all 1s ease; */
  color: white;
  > * {
    position: sticky;
    top: 10px;
  }
}
@keyframes anim {
  from {
    text-shadow: 0px 0px 20px #6cf;
  }
  50% {
    text-shadow: 0px 0px 40px #0ff;
  }
  to {
    text-shadow: 0px 0px 20px #6cf;
  }
}
@keyframes anim1 {
  from {
    box-shadow:
      0px 0px 10px #6cf,
      0 0 20px #0ff,
      0 0 40px #09f,
      0 0 60px #0ff;
  }
  to {
    box-shadow:
      inset 0px 0px 200px #6cf,
      0 0 100px #0ff,
      0 0 600px #09f,
      inset 0 0 800px #0ff;
  }
}
.logo {
  vertical-align: baseline;
  margin: 0;
  display: flex;
  border: none;
}
.logo img {
  /* fill: #5f5e5a; */
  color: white;
  width: 18vw;
  max-width: 100vw;
  vertical-align: baseline;
  font-size: 7vw;
  margin: 0;
  border: none;
  outline: none;
}


.nav {
  display: flex;
  width: auto;
  /* max-width: 100vw; */
  /* padding:1vw; */
  padding-bottom: 0vw;
  /* margin-bottom: 4vw; */
  width: 80vw;
  /* position: absolute; */
  /* left: 0; */
  /* top: ; */
  /* grid-tvwplate-columns: repeat(auto-fit,1fr); */
  justify-content: space-around;
  /* gap:1vw; */
  align-items: start;
  align-content: start;
  color: black;
  background-color: var(--Neutral-color);
  padding: 0vw 10vw;
  position: sticky;
  /* top: auto; */
  height: 10vw;
  padding: 3vw;
 margin-bottom: 3vw; 
}

.nav ul {
  font-size: 2vw;
  /* padding: 3vw; */
  /* vertical-align: baseline; */
  max-width: 100vw;
margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  /* margin-top: 1vw; */
  /* vertical-align: baseline; */
  > li {
    /* position: relative; */
    padding: 1.3vw 1.3vw 1.3vw 1.3vw;
    border-radius: 2vw;
    /* max-width: 100vw; */
    /* vertical-align: top; */
    cursor: pointer;
    transition:
      background 1s,
      color 1s,
      transform 1s;
    font-size: 0.3vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: "Caveat", cursive;
  }
  > li > a {
    display: flex;
    font-size: 1.4vw;
    text-decoration: none;
    color: var(--secodary-color);
    text-wrap: nowrap;
    /* padding: 1vw; */
    vertical-align: baseline;
    /* font-family: Playfair Display, sans-serif; */
  }
  > * {
    vertical-align: baseline;
  }
  > li > .btn {
    display: flex;
    align-self: top;
    justify-content: center;
    padding:6% 40%;
    /* margin-bottom: 10vw; */
    /* padding: 1vw 1.2vw; */
  }
}
.nav2:before{
  content:"";
  background-color: var(--accent-color);

  /* inset: unset; */
  width: 100%;
  height: .1vw;
  position: absolute;
  
  bottom: 0;
  /* top: unset; */
}

.nav2 {
  /* gap: 10vw; */
display: flex;
position: relative;
justify-content: space-between;
padding:0 8vw;
width: 75%;
margin-inline: 10vw;
margin-bottom: 0;
>.ul1{
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 1vw; */
  >a{
    /* width: auto; */
    display: flex;
    /* gap: 1vw; */
    padding: 1vw;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-items: center;
    text-decoration: none;
    transition: all .3s ease;
    color: var(--secodary-color);
    >div{
      /* width: 100%; */
      /* padding-left: 1vw; */
      /* font-size: 40%; */
      /* font-weight: bold; */
      display: flex;
      justify-content: space-between;
      gap: 1.5vw;
      align-items: center;
font-size: 1.6vw;
      >.image1,.image2{

      background: url("./icons8-email-50.png") no-repeat;
      background-size: cover;
      width: 1.4vw;
      /* vertical-align: baseline; */
  height: 1.4vw;
  object-fit: cover;
  /* margin-right: 2vw; */
}
>.image2{
  width: 1vw;
  font-size: 1vw;
  /* width: 2vw; */
  background:url("") no-repeat ;
/* background-attachment: fixed; */
/* width: 7vw; */
/* height:3vw; */
>img{
  width: 100%;
  height: 100%;
}
}
  }
}
}
>.ul2{
  /* width: 30%; */
  gap: 1vw;
  display: flex;
  justify-content: center;

 >a{
  /* width: 1vw; */
  /* height: auto; */
  padding: 1vw;
  /* width: 30%; */
    display: flex;
    /* gap: .1vw; */
    justify-content: center;
    align-items: center;
justify-items: center;
text-decoration: none;
color: var(--secodary-color);
border-radius: 50%;

    >.image3,.image4,.image5,.image6{
  /* background: url("./icons8-email-50.png") no-repeat; */
  background:url("./logos.png") no-repeat ;
  background-size: contain;
  width: 1vw;
  vertical-align: baseline;
  height: 1vw;
  /* border-radius: 50%; */
  /* margin-right: 2vw; */
}
>.image3{
  background:url("./facebook-app-symbol.png") no-repeat ;
  background-size: cover;
}
>.image4{
  background:url("./instagram\ \(1\).png") no-repeat ;
  background-size: cover;

}
>.image5{
}
}
}
}
.ul1>a:hover{
  color: var(--accent-color);
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 2vw;
  /* font-family: 'Caveat', cursive;  */
  /* font-style: italic; */
  /* font-family: 'Caveat', cursive;  */
  font-family: "lobster";
  font-family: "SaintCarell", sans-serif;
  font-width: ultra-expanded;
}
.ul2>a:hover{
background-color: var(--accent-color);
}
.btn,
.btn1 {
  /* padding: 2vw 4vw; */
  /* width: 20%; */
  background-color: var(--accent-color);
  background-color: rgba(201, 169, 119, 0.9);
  /* position: relative; */
  transition:
    transform 1s,
    color 1s,
    background 1s;
  color: #fffff6;

  /* font-size: 1.3vw; */
  /* font-weight: bold; */
  text-decoration: none;
  /* border-radius: 1vw 1vw; */
  /* margin-top: 1vw; */
  border: none;
  outline: none;
  /* padding:1.6vw 1vw; */
  /* padding: 1.6vw 1.3vw; */
  width: 90%;
  text-wrap: nowrap;
  padding: 1.3vw 1.7vw;
  font-size: 1vw;
  color: var(--Neutral-color);
  text-align: center;
  /* border:.0009vw solid white; */
  vertical-align: baseline;
}
.image {
  background-color: transparent;
  /* width: 100em; */
  width: 100vw;
  height: 30vw;
  transform: scale(1.7);
  background: url("./michjesus.jpeg") no-repeat;
  background-position: center;
  background-size: contain;
  /* background-attachment: fixed; */
}
.michjesus {
  width: 100%;
}
.btn1 {
  background-color: transparent;
  border: 0.0009vw solid white;
  /* padding:1.3vw 1vw; */
  vertical-align: baseline;
}
li:hover {
  /* background-color: var(--accent-color); */
}
.btn1:hover,
li:hover {
  /* background-color: var(--accent-color); */
  color: var(--secodary-color);
  transform: scale(0.9);
}
li:hover {
  background-color: var(--accent-color);
}
.btn2:hover {
  transform: scale(1);

  background-color: transparent;
}
.btn:first-of-type {
  /* padding:.8vw 1vw; */
  /* color: white; */
}
h1 {
  color: var(--Neutral-color);
  font-size: 3vw;
  font-weight: 300;
  font-family: "Caveat", cursive;
}

p {
  font-width: expanded;
  font-stretch: condensed;
  /* letter-spacing: .1vw; */
  /* font-size: 3vw; */
}
.btn1:hover {
  background-color: var(--Neutral-color);
}
.btn:hover {
  /* color: #d7b077; */
  /* box-shadow: inset 0px 0px 20px #6cf, */
  /* inset  0 0 40px #0ff, */
  /* 0 0 60px #09f, */
  /* 0 0 80px #0ff */
  /* ; */
  /* background-color: var(--accent-color); */

  transform: scale(0.9);
}
.nav > ul > li > .btn:hover {
  transform: scale(0.9);
  /* background-color: var(--accent-color); */
}
body:hover {
}
/* .sections:hover{
    transform: translateY(-10px) scale(1.01);
    background:radial-gradient(circle at center,rgba(13, 19, 80,0),#070C26,rgba(13, 19, 80,1));
    

} */
.section1,
.section2,
.section3,
.section4,
.section5 {
  background-color: var(--secodary-color);
  display: flex;
  margin: 0;
  width: 70%;
  /* grid-tvwplate-columns: 1fr 1fr; */
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* gap:1vw; */
  /* padding: 3vw 3vw; */
  text-align: start;
  /* position: relative; */
  height: min-content;
  padding: 1vw 20vw;
  /* height: 30vh; */
  /* height: 40vw; */
  > * {
    /* flex: 1; */
    /* padding: 0 10vw; */
  }
}
.content {
  /* margin: 30vw; */
  width: 100%;
  /* height: 80%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
  padding: 0;
  gap: 2%;
  padding: 2.3vw 0vw;
  /* margin: auto; */
  > * {
    /* margin: 1em; */
  }
}
.content .image {
  width: 40%;
  background-color: transparent;
}
.content > .left > h2 {
  font-size: 5vw;
  word-break: keep-all;
  font-weight: 100;
  white-space: nowrap;
  word-spacing: 0.1vw;
  letter-spacing: 0.4vw;
  /* font-stretch: condensed; */
  line-height: 1.9vw;
  /* margin-bottom: 1vw; */
}
.content > .left > p {
  /* line-height: 2vw; */
  margin: 0.5vw 0 1vw 0;
  /* font-size: 2vw; */
  /* font-weight: 600; */
  font-size: 1.2vw;
  word-break: keep-all;
  white-space: pre;
  word-spacing: 1px;
  letter-spacing: 0.1px;
  line-height: 1.5vw;
  /* width: 20%; */
  font-family: "Metropolis", sans-serif;
  /* font-family: "Lobster", cursive; */
  font-weight: 100;
}
p {
  /* line-height: 2vw; */
  /* margin: .5vw 0 1vw 0; */
  /* font-size: 2vw; */
  /* font-weight: 600; */
  font-size: 1.2vw;
  /* word-break: keep-all; */
  /* white-space: pre; */
  word-spacing: 1px;
  letter-spacing: 0.1px;
  /* line-height: 1.5vw; */
  /* width: 20%; */
  font-family: "Metropolis", sans-serif;
  /* font-family: "Lobster", cursive; */
  font-weight: 100;
}
.content .left {
  position: relative;
  /* left: 10%; */
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  justify-items: center;
  align-content: start;
  justify-content: center;
  justify-items: center;
  /* align-items: center; */
  height: 100%;
  width: 40%;
  margin: 0;
}
.content > .left > .btns {
  /* display: inline-flex; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  font-family: "Lobster", cursive;

  width: 70%;

  /* padding: 1vw; */
}
.content > .left > h2 {
  /* width: 46px; */
  /* height: 8px; */
  /* color: #c9a977; */
  /* font-size:5.1vw; */
  line-height: 5vw;
  /* font-weight: smaller; */
  /* font-family:serif ; */
  /* font-family: 'Caveat', cursive;  */
  font-family: "Lobster", cursive;
  margin: 0;
  margin-bottom: 0.01vw;
  /* letter-spacing: .1vw; */
  /* word-wrap: nowrap; */
}
.left > .btns > * {
  margin: 0 1.8vw 1vw 0;
  vertical-align: baseline;
  /* padding: 20vw; */
}
.blob1,
.blob2,
.blob3,
.blob4,
.blob {
  transition: all 1s ease;
  z-index: -1000;
  opacity: 0.1;
}
.blob,
.blob1 {
  animation: a 7s infinite ease alternate-reverse;
  position: absolute;
  top: 40%;
  left: 0;
  opacity: 0.1;
}
li:hover {
  /* background-color: var(--accent-color); */
}
divider {
  position: absolute;
  top: -10%;
  left: 0%;
  width: 7vw;
  height: 1px;
  color: var(--accent-color);
  background-color: var(--accent-color);
}
.blob2,
.blob3,
.blob4 {
  animation: b 7s infinite ease;
  position: absolute;
  top: 100%;
  /* left: 0; */
}
.section2 {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: var(--secodary-color);
}
.card img {
  height: 30%;
  width: 13%;
  font-size: 0.1vw;
  background-size: cover;
  transition: all 0.3s ease;
}
/* .section3 .right,.left{ */
/* display: flex; */
/* justify-content: center; */
/* align-items: start; */
/* gap: 1vw; */
/* } */
.section2 h2 {
  font-size: 3vw;
  word-break: break-all;
  /* word-wrap: break-word; */
  word-wrap: wrap;
  word-spacing: pre;
  white-space: normal;
  word-break: break-word;
  font-family: "Caveat", cursive;
}
.section2 > p {
  padding-bottom: 2vw;
  font-size: 1vw;
}
.parent-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  justify-items: center;
}
.card {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: start;
  align-items: start;
  /* gap: .3vw; */
  /* width: 30%; */
  text-align: start;
  transition: all 0.3s ease;
  height: 14vw;
  position: relative;
  /* line-height: 10px; */
  /* border-bottom:.1vw solid var(--secodary-color); */
}
.card h3 {
  font-size: 1.3vw;
  transition: all 0.3s ease;
  color: #484a57;
}
.card p {
  font-size: 1vw;
  word-wrap: wrap;
  transition: all 0.3s ease;
  line-height: 1.3vw;
  color: #17140f;
}
.section2 > .btn {
  margin-top: 7vw;
  width: 10vw;
  padding: 1.3vw 0;
  background-color: #c9a977;
}
.card:hover {
  border-color: var(--accent-color);
  left: 0;
}
.card:hover:after {
  width: 100%;
}
.card::after {
  content: "";
  width: 0%;
  height: 0.1vw;
  position: absolute;
  bottom: 0;
  /* left: 0; */
  background-color: var(--secodary-color);
  transition: all 1s ease;
}
.card:hover img {
  transform: translateY(-0.4vw);
}
.card:hover h3 {
  color: var(--accent-color);
}
.section3 {
  background-color: var(--secodary-color);
  color: var(--Neutral-color);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1vw;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  padding: 4vw 20vw;
  padding-bottom: 1vw;

  /* height: 70vw; */
}
.section3 .left,
.section3 .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: start;
  /* gap: 2.7vw; */
  width: 29vw;
  height: 100%;
  > * {
    position: relative;
  }
}
.section3 .left > .image,
.section3 .right > .image {
  height: 00px;
  width: 20vw;
  height: 10vw;
  width: 20vw;
  width: 100%;
  margin-bottom: 6vw;
  width: 49%;
  background: url("./michjesusnew.png") no-repeat;
  background-size: contain;
  background-attachment: fixed;
  object-fit: cover;
  /* border-radius: 50%; */
  background-position: 200%;
  /* box-shadow: 0 0 100vw var(--secodary-color),
0 0 100vw var(--accent-color),
0 0 200vw var(--Neutral-color),
0 0 200vw var(--primary-color); */
  /* margin-right: 10vw; */
  /* transform-origin: center; */
  /* transform: skew(10vw,10vw); */
  position: relative;
}
.section3 .left > .image {
  /* animation: revers 1s ease infinite alternate-reverse; */
}
.section3 .right > .image {
  /* animation: revers2 1s ease infinite alternate-reverse; */
}
.section3 .left > p:before,
.section3 .right > p:before {
  content: "";
  /* position: absolute; */
  /* top: 2vw; */
  /* border-radius: 50%; */
  /* left: -17vw; */
  /* width: 130%; */
  /* height: 130%; */
  /* z-index: -10; */
  opacity: 0.4;
  animation: a 3s ease infinite alternate-reverse both;
  background: var(--secodary-color);
}
.section3 .left > p,
.section3 .right > p {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4vw;
  margin-top: 1vw;
  width: 17vw;
  width: 90%;
  font-size: 0.9vw;
  font-weight: 100;
  width: 70%;

  /* height: 13vh; */
}
.section3 .right > p {
  /* margin-top: 0vw; */
  /* width: 24vw; */
  margin-bottom: 4vw;
}
.section3 > .left .image {
  /* height: 14vw; */
  /* margin-top: 3vw; */
  /* overflow: hidden; */
  /* margin-right: 20vw; */
}
.section3 .left .image {
  margin-top: 0.7vw;
}
.section3 .right > h1 {
  /* width: 30vw; */
  margin: 0;
  /* line-height: 2.7vw; */
  font-size: 3vw;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  width: 70%;
  /* font-weight: 100; */
  font-family: "Poppins";
}
.section3 .right {
  justify-content: start;
}
.section4 {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: baseline; */
  align-content: center;
  height: 39vw;
  padding-top: 0;
  padding-bottom: 13vw;
  gap: 1vw;
  > * {
    color: var(--secodary-color);
  }
}
.section4 .first > h1 {
  width: 40%;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  text-align: start;
  font-family: "Poppins";
}
.scard:first-of-type > .image {
  background: url("https://cdn.prod.website-files.com/640b8cddc9bf6f31a7bd885d/641521ef507092407a857ee9_compliance-thumbnail-image-lawyers-x-webflow-template.jpg")
    no-repeat;
  background-color: transparent;
  /* width: 100em; */
  width: 20vw;
  height: 10vw;
  height: 13vw;
  transform: scale(1.7);
  /* background: url("./michjesus.jpeg") no-repeat; */
  background-position: center;
  background-size: contain;
}
.scard > .image {
  background: url("https://cdn.prod.website-files.com/640b8cddc9bf6f31a7bd885d/641521b79ec93960cb64a81e_acquisition-thumbnail-image-lawyers-x-webflow-template.jpg")
    no-repeat;
  background-color: transparent;
  /* width: 100em; */
  width: 100%;
  height: 13vw;
  /* transform: scale(1.7); */
  /* background: url("./michjesus.jpeg") no-repeat; */
  background-position: center;
  background-size: contain;
  transition: all 1s ease;
}
.scard > .image:hover {
  /* transform: translateY(-10px); */
}
.section4 .first {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  > h1 {
    color: var(--secodary-color);
  }
  > .btn {
    width: 20vw;
  }
}
.section4 > .parent-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20vw;
  gap: 3vw;
}
.scard {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  height: auto;
  width: 32vw;
  font-weight: 100;
}
.scard .card {
  width: 80%;
  /* position: relative; */
  height: auto;
  left: 2%;
  position: absolute;
  z-index: 1000;
  background-color: var(--Neutral-color);
  color: var(--secodary-color);
  /* right:0%; */
  top: 70%;
  gap: 1vw;
  padding: 2vw;
  animation: a 1s ease infinite alternate-reverse both;
  font-weight: 100;

  > * {
    margin: 0;
    font-weight: 100;

    /* height: 3vw; */
  }
}
.scard .card h4,
.scard .card h2 {
  font-size: 1.3vw;
  font-weight: 100;
}
.scard .card h2 {
  width: 100%;
  display: flex;
  font-size: 1.7vw;
  font-weight: 100;

  /* height: 1vw; */
}
.scard > .card > a {
  text-align: center;
  background-color: transparent;
  color: var(--secodary-color);
  font-size: 1.3vw;
  margin-top: 1.9vw;
  font-weight: 100;
}
.section5 {
  height: auto;
}
@keyframes a {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
}
@keyframes b {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(10vh);
  }
}
@keyframes revers {
  from {
    transform: translateY(0%) scale(1.7) translateX(0%);
  }
  to {
    transform: translateY(-140%) scale(1.7) translateX(-140%);
    /* transform:translateY(10vh); */
  }
}

@keyframes revers2 {
  from {
    transform: translateY(0%) scale(1.7) translateX(0%);
  }
  to {
    transform: translateY(240%) scale(1.7) translateX(240%);

    /* transform:translateY(10vh); */
  }
}
.section5 {
  width: 80%;
  padding: 3vw;
  flex-direction: column;
  background-color: var(--primary-color);
  > h1 {
    font-family: "Times New Roman", Times, serif;

    /* height: 10vw; */
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 40%;
    text-align: center;
    color: var(--secodary-color);
  }
}
.con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 2vw;
  padding: 2vw;
  > * {
    width: 40%;
    height: 100%;
  }
}

.section5 > .con > .parent-list {
  display: flex;
  /* width: 80vw; */
  flex-direction: column;
  width: 25vw;

  .card {
    height: auto;
  }
  > .card h2 {
    transition: all 0.2s ease;
  }
}
.section5 > .con > .parent-list > .card > .first {
  display: flex;
  color: var(--secodary-color);
  justify-items: center;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  gap: 1vw;
  height: 3vw;
  > * {
    display: flex;
    /* vertical-align: baseline; */
    width: calc(100% / 3);
    /* width: 100%; */
    align-items: start;
    text-align: start;
    /* height: 10px; */
  }

  > divider {
    display: flex;
    justify-content: center;
    place-items: center;
    position: absolute;
    top: 25%;
    left: 34%;
    width: 23%;
    height: 0.1vw;
  }
}
.section5 > .con > .parent-list > .card > .first > p,
.rightn > .card > .first > p {
  background-color: transparent;
  font-family: "Courier New", Courier, monospace;
  color: var(--secodary-color);
  font-size: 1vw;
  word-break: normal;
  word-break: keep-all;
  word-wrap: normal;
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
  font-weight: bold;
  display: inline-flex;
  font-family: "Metropolis", sans-serif;
}

.section5 > .con > .parent-list > .card > h2,
.section5 > .con > .rightn > .card > h2 {
  font-family: "Times New Roman", Times, serif;
  /* font-family:'Courier New', Courier, monospace; */
  /* background-color: red; */
  font-size: 1.3vw;
  /* width: auto; */
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--secodary-color);
  margin: 0;
  /* line-height: 1.6vw; */
  /* margin-bottom: 1vw; */
  font-weight: 400;
  /* word-spacing: .7vw; */
  font-family: "Metropolis", sans-serif;
}
.parent-list > .card > a,
.rightn > .card > a {
  font-size: 1vw;
  text-decoration: none;
  color: var(--secodary-color);
  margin-top: 1vw;
}
.rightn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  font-family: "Times New Roman", Times, serif;
  width: 30vw;

  > .image {
    background: url("https://cdn.prod.website-files.com/640b8cddc9bf6f31a7bd885d/6413d8f214fcdd192f7e16ae_copyrighting-thumbnail-image-lawyers-x-webflow-template.jpg")
      no-repeat;
    /* background-size:cover ; */
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border: none;
    transform: scale(1);
    width: 30vw;
    height: 17vw;
  }
  > .card p {
    color: var(--secodary-color);
  }
  > .card > h2 {
    /* width: 109%; */
    font-family: "Metropolis", sans-serif;
    transition: all 0.3s ease;
    /* line-break: strict; */
    /* display: flex; */
    /* font-family:'Times New Roman', Times, serif; */
    /* height: ; */
  }
}
.section5 > .con > .parent-list > .card:hover h2,
.con > .rightn > .card:hover > h2 {
  color: var(--accent-color);
}
.rightn > .image:hover {
  background-position: 200%;
}
.section6 {
  width: 80%;
  padding: 5vw 20vw;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  height: 20vw;
  /* place-items: center end; */
  background: url("Lawer.png") no-repeat;
  background-size: cover;
  background-position: 200%;
  > .content {
    padding: 8vw;
    width: 80%;
    display: flex;
    justify-content: start;
    text-align: start;
    justify-items: start;
    place-items: start;
    > .left {
      width: 40%;
      > h2 {
        
        font-size: 3vw;
      }
      > p {
        display: flex;
        flex-wrap: wrap;
      }
      > * {
        width: 40%;
      }
      > .btns {
        width: 30vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        place-items: center center;
        > .btn,
        .btn1 {
          width: 10vw;
        }
      }
    }
  }
}

.section7 {
  padding-top: 3vw;
  margin: 3vw;
  /* padding: 10vw 0; */
  padding-left: 10vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--Neutral-color);
  color: var(--secodary-color);
  justify-content: flex-start;
  place-items: end center;
  gap: 2vw;
  > .header {
    position: fixed;
    top: -0.1;
    left: 30%;
    width: 103%;
    /* align-self: flex-end; */
    /* margin-bottom: 3%; */
    display: flex;
    gap: 20vw;
    margin-bottom: 10vw;
    justify-content: start;
    place-items: center start;
    > h3 {
      text-align: start;
      /* background-color: red; */
      width: 13%;
      margin: 0;
      /* height: 7vw !important; */
      font-size: 3.4vw;
      font-family: "Times New Roman", Times, serif;
      /* line-height: 10vw; */
      /* transform: scaleY(1.1); */
      letter-spacing: 0;
      word-spacing: -0.1px;
      font-weight: 100;
      font-size: 2vw;
    }

    .arrows {
      margin-left: -10vw;
      width: 4vw;
      height: 3%;
      display: flex;
      justify-content: center;
      place-items: center center;
      gap: 2vw;
      > .image {
        display: flex;
        justify-content: center;
        place-items: center center;
        align-items: center;
        /* justify-items: center; */
        background: url("./right-arrow\ \(2\).png");
        background-size: contain;
        width: 0.1vw;
        font-size: 0.1vw;
        height: auto;
        /* border-radius: 50%; */
        border: 0.1em solid var(--secodary-color);
        cursor: pointer;
        transition: all 0.3s ease;
        border: 0.0001vw solid var(--Neutral-color);
        /* box-shadow: 0px 0px 100px var(--secodary-color); */
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
        background-color: var(--Neutral-color);
        padding: 0.4vw;
        text-align: center;
        /* font-size: .01vw; */
      }
      .img1 {
        background: url("./left-arrow.png") no-repeat;
        background-size: contain;
        cursor: pointer;
        padding: 0.4vw;
        height: auto;
        font-size: 0.1vw;
        display: flex;
        justify-content: center;
        place-items: center center;
        /* width: 1.5vw; */
        /* height: 1.5vw; */
      }
    }
  }

  > .slider {
    padding: 10vw 3vw 3vw 0vw;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    /* height: 10px; */
    margin:3vw -3vw 0 0;
    >.slides{
            /* padding: 3vw 0vw 0vw 30vw; */
         display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
        position: relative;
        width: 400%;
        margin-left: 10vw;
        /* left: 0; */
        animation: 20s slide ease infinite both ;
        > .slide {
          position: relative;
          /* height: 10vw; */
      text-align: start;
      width: 39vw;
      padding: 0vw 3vw 3vw 3vw;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      /* gap: .1vw; */
      transition: all 1s linear;
      
   .cont{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    > h2 {
        margin-bottom: 0.01vw;
        color: var(--secodary-color);
        /* font-size: 2vw; */
        font-family: "Times New Roman", Times, serif;
        /* line-height: 1.2vw; */
        display: flex;
        font-size: 1.3vw;
        font-weight: 100;
        width: 100%;
        letter-spacing: -0.1px;
        word-spacing: 0.1px;
        text-align: start;
        transition: all .4s ease;
      }
      > p {
        color: var(--secodary-color);
        font-size: 1.3vw;
        font-family: "Times New Roman", Times, serif;
        /* line-height: 1.2vw; */
        /* margin-bottom: 1.3vw; */
        height: auto;
        font-weight: 100;
        letter-spacing: -0.1px;
        word-spacing: 0.1px;
        display: flex;
        justify-content: start;
      }
    }
      > .person {
        width: 100%;
        display: flex;
        justify-content: start;
        place-items: center center;
        gap: 2vw;
        font-family: "Times New Roman", Times, serif;

        >.detials {
          /* background-color: red; */
          gap: 0.3vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          /* place-items: center center; */
          /* gap: vw; */

          > h4 {
            font-family: "Times New Roman", Times, serif;
            font-size: 1.4vw;
            width: 100%;
            /* font-weight: 200; */
            margin-bottom: 0.1vw;
            font-weight: 100;
            margin: 0;
            letter-spacing: -0.1px;
            word-spacing: 0.1px;
          }
          > p {
            width: 100%;
            font-family: "Times New Roman", Times, serif;

            font-weight: 100;
            margin: 0;
            font-size: 1vw;
            font-size: 1.3vw;
            font-size: 0.8vw;
            font-size: 1vw;
            letter-spacing: -0.1px;
            word-spacing: 0.1px;
          }
        }
        > .image {
          background: url("unknown_image.png") no-repeat;
         background-size:cover;
width: 50px;
height: 50px;
         border-radius: 50%;
          transition: all 0.1s ease;
        }
      }
      
    }
  }
}
}
.person>.image:hover {
  transform: scale(1.1);
}
.img1:hover,
.img2:hover {
  background-color: var(--accent-color);
  transform: scale(1.1);
}
.slide:after {
  content: "";
  background-color: var(--primary-color);
  width: 0.01vw;
  height: 100%;
  position: absolute;
  right: 0;
}
.slide:hover {
  transform: scale(1.1);
  >.cont>h2{
    /* transform: scale(1.1); */
    font-size: 1.5vw !important;
    font-weight: bold;
  }
}
.slide {
  float: left;
  width: 20%;
}
.slider {
    overflow: hidden;
    padding:0 ;
    
    /* position: relative; */
    /* left: 0; */
    /* animation: slide 30s infinite; */
}
.cont:before{
  content:"";
  position: absolute;
  width: 95%;
  height: 57%;
    z-index: -1;
  background-color: #b18b5a;
  background:linear-gradient(135deg , var(--primary-color),var(--secodary-color),var(--accent-color),transparent);

  transform: rotate(1.3deg);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}
.cont:after{
  content:"";
  /* box-shadow:ظ 3px 3px 2px rgba(0, 0, 0, 0.3); */

  position: absolute;
  width: 95%;
  height: 50%;
  z-index: -1;
  background-color: var(--accent-color);
  background:linear-gradient(135deg , var(--primary-color),var(--secodary-color),var(--accent-color),transparent);
  
  transform: rotate(-1.3deg);
}

@keyframes slide {
  0% {
    left: 30%;
    /* transform: scale(2); */
      /* background-color: var(--accent-color); */

  }
  20% {
    left: 20%;
    /* transform: scale(1.3); */

      /* background-color: var(--accent-color); */
  }
  25% {
    left: -7%;
    /* transform: scale(1.1); */

    /* background-color: var(--accent-color); */

  }
  45% {
    left: -27%;
    /* transform: scale(1.1); */

    /* background-color: var(--accent-color); */

  }
  50% {
    left: -27%;
    transform: scale(1.1);

  }
 
  70% {
    left: -47%;
  }
  80% {
    left: -47%;
  }

  95% {
    left: 40%;
    
  }
  100% {
    left:40%;
  }
}
.slide {
    position: relative;
  float: left;
  /* left: 0; */
  /* left: 10%; */
}
.thanks{
  width: 100vw;
  background:linear-gradient(135deg , var(--primary-color),var(--secodary-color),var(--accent-color),transparent);
  /* background: linear-gradient(to left); */
  height: 10vw;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  font-weight: bold;

}

